{% extends 'base.html.twig' %}

{% block title %}Hello BuildingController!{% endblock %}

{% block body %}

    <h1>Welcome to {{ building.name }}</h1>

    <h2>Check In: </h2>
    <form action="{{ path('checkin', {uuid: uuid}) }}" method="post">
        <input type="text" name="username" placeholder="Enter your username to checkin" required="required"/>

        <button>CheckIn</button>
    </form>

    <h2>Check Out: </h2>
    <form action="{{ path('checkout', {uuid: uuid}) }}" method="post">
        <input type="text" name="username" placeholder="Enter your username to checkout" required="required"/>

        <button>CheckOut</button>
    </form>

    <ul>
        {% for user in building.users %}
            <li>
            {% if user.checkedIn %}<a href="{{ path('checkout', {'uuid': building.uuid, 'username': user.name}) }}">Checkout {{ user.name }}</a>
            {% else %}<a href="{{ path('checkin', {'uuid': building.uuid, 'username': user.name}) }}">Checkin {{ user.name }}</a>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

